[Desktop Entry]
Type=Application
Name=SecretSanta
Exec=secretsanta
Comment=A multi-player, equal probabilities Secret Santa
Terminal=false
Icon=santa.png
StartupNotify=true
Terminal=false
Categories=Utility;Game;
Keywords=Secret;Santa;Christmas;DP;QT;
StartupWMClass=secretsanta
